<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login in Vetro</title>
    <link rel="stylesheet" type="text/css" href="./css/style.css">
</head>
<body>
    <section>
        <div class="color"></div>
        <div class="color"></div>
        <div class="color"></div>
        <div class="box">
            <div class="square" style="--i:0;"></div>
            <div class="square" style="--i:1;"></div>
            <div class="square" style="--i:2;"></div>
            <div class="square" style="--i:3;"></div>
            <div class="square" style="--i:4;"></div>
            <div class="container">
                <div class="form">
                    <h2>Register Form</h2>
                    <form th:action="@{/register}" method="post">
                        <div class="inputBox">
                            <input type="text" name="username" placeholder="New Username" required minlength="4" maxlength="12" size="14">
                        </div>
                        <div class="inputBox">
                            <input type="password" name="password" placeholder="New Password" required minlength="8" maxlength="12" size="14">
                        </div>
                        <div class="inputBox">
                            <input type="submit" value="Register" >
                        </div>
                        <p class="forget">Alredy have an account ? <a href="/login">Sign in</a></p>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>
</html>